Source: misctools
Maintainer: Thomas E. Dickey <dickey@invisible-island.net>
Section: utils
Priority: optional
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 5)
Homepage: http://invisible-island.net/misc_tools/

Package: misctools
Architecture: any
Description: miscellaneous utility programs
 These are utility programs which I install first on a given development
 machine, along with ded and vile.
